.main-header {
    content: " ";
    /* position: relative; */
    top: 0;
    left: 0;
    width: 100%;
    height: 115px;
    background-color: #6777ef;
    z-index: -1;
}
/* cardBox.css */
.cardHead {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    padding: 20px;
    display: flex;

    align-items: center;
    margin-inline:  2rem;
    margin-top: -6rem;
  
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .card h2 {
      margin-bottom: 0;
      font-weight: 700;
      display: inline-block;
      font-size: 24px;
      margin-top: 3px;
      color: #34395e;
  }
  
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    z-index: 10; 
  }
  